.options__header_col_id {
    min-width: 20px;
    ext-align: right;
}

.options__header_col_name {
    min-width: 300px;
}

.options__header_col_type {
    min-width: 100px;
}

.options__header_col_value {
    min-width: 300px;
}

.options__header_col_description {
    min-width: 400px;
}

.options__body_col_id {
    min-width: 20px;
    ext-align: right;
}

.options__body_col_name {
    min-width: 300px;
}

.options__body_col_type {
    min-width: 100px;
}

.options__body_col_value {
    min-width: 300px;
}

.options__body_col_description {
    min-width: 400px;
}