.accounts__header_col_id {
    min-width: 20px;
    ext-align: right;
}

.accounts__header_col_name {
    min-width: 400px;
}

.accounts__header_col_value {
    min-width: 800px;
}

.accounts__body_col_id {
    min-width: 20px;
    ext-align: right;
}

.accounts__body_col_name {
    min-width: 400px;
}

.accounts__body_col_value {
    min-width: 800px;
}